<div class="">
    <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)" class="tabs">
      <mat-tab label="By place">
          <mat-form-field class="example-full-width">
            <mat-label>E.g Starbucks, Ermou street...</mat-label>
            <input
              matInput
              #autocompleteEl
              ngx-google-places-autocomplete
              [options]="options"
              (onAddressChange)="onAddressChange($event)"
              (click)="emptyInput()"
              name="autocompleteInput"
            />
          </mat-form-field>
      </mat-tab>
      <mat-tab label="By query">
          <mat-form-field>
            <mat-label>E.g hotel, supermarket...</mat-label>
            <input
              matInput
              #searchBoxEl
              [(ngModel)]="autocompleteInput"
              (click)="emptyInput()"
              type="text"
              name="searchBoxEl"
            />
          </mat-form-field>
      </mat-tab>
    </mat-tab-group>
</div>
<div class="place-detail">
  <app-place-detail></app-place-detail>
</div>
