<div class="row">
  <div class="col-xs-12">
    <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)">
      <mat-tab label="By place">
          <mat-form-field class="example-full-width">
            <mat-label>Search for a place</mat-label>
            <input
              matInput
              #autocompleteEl
              ngx-google-places-autocomplete
              [options]="options"
              (onAddressChange)="onAddressChange($event)"
              name="autocompleteInput"
            />
          </mat-form-field>
      </mat-tab>
      <mat-tab label="By query">
          <mat-form-field>
            <mat-label>Search by query</mat-label>
            <input
              matInput
              #searchBoxEl
              [(ngModel)]="autocompleteInput"
              type="text"
              name="searchBoxEl"
            />
          </mat-form-field>
      </mat-tab>
    </mat-tab-group>

    <!-- <nav mat-tab-nav-bar >
        <a mat-tab-link (click)="onByPlace()"> By place </a>
        <a mat-tab-link (click)="onByQuery()"> By query </a>
      </nav> -->
    <!-- <div class="byPlace" *ngIf="searchMode === 'byPlace'">
        <mat-form-field >
        <mat-label>Search for a place</mat-label>
          <input matInput #autocompleteEl ngx-google-places-autocomplete [options]='options' (click)="emptyInput(autocompleteEl)"  (onAddressChange)="onAddressChange($event)" name="autocompleteInput">
      </mat-form-field>
      </div> -->
    <!-- <div class="byQuery" [hidden]="searchMode !== 'byQuery'">
        <mat-form-field>
          <mat-label>Search by query</mat-label>
          <input matInput #searchBoxEl [(ngModel)]="autocompleteInput" type="text" name="searchBoxEl" (click)="emptyInput(searchBoxEl)"/>
        </mat-form-field>
      </div> -->

    <!-- <div class="form-group">
              <label for="searchBox">Search by query</label>
              <input #searchBoxEl [(ngModel)]="autocompleteInput" type="text" class="form-control" name="searchBoxEl"/>
            </div> -->
    <!-- <div class="form-group">
              <label for="searchPlace">Search for a place</label>
              <input ngx-google-places-autocomplete [options]='options'  (onAddressChange)="onAddressChange($event)" class="form-control" name="autocompleteInput"/>
            </div> -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- <div *ngIf="placeIsLoading">
      <p>loading...</p>
    </div> -->
    <!-- <div *ngIf="!placeIsLoading;"> -->
    <app-place-detail></app-place-detail>
    <!-- </div> -->
  </div>
</div>
